—
—

/* Add your @font-face setting the url path */
@font-face {
font-family:“Open Sans”;
src: url("…/assets/fonts/OpenSans-Regular-webfont.eot");
src: url("…/assets/fonts/OpenSans-Regular-webfont.eot?#iefix") format(‘embedded-opentype’),
url("…/assets/fonts/OpenSans-Regular-webfont.woff") format(‘woff’),
url("…/assets/fonts/OpenSans-Regular-webfont.tff") format(‘truetype’),
url("…/assets/fonts/OpenSans-Regular-webfont.svg#glyphicons-halflingsregular’") format(‘svg’);
}

/*
Set the sass variables. You only need the $base-font-family here but in case you want to adjust sizes etc…
For reference, in the Minima theme gem folder, these are in /_sass/minima.scss
*/
$base-font-family: “Open Sans” !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;

/* import the theme css */
@import “{{ site.theme }}”;

/* FYI: unrelated to the font-face customisation, make any other css overrides here. eg: */
body {
color: rgb(88, 60, 153);
}

.site-header {
border-top:none;
}
